# Config file for automatic testing at travis-ci.org

language: python

services:
  - redis

python:
  - "3.6"  
  - "3.5"    
  - "3.4"    
  - "3.3"  
  - "2.7"

# command to install dependencies, e.g. pip install -r requirements.txt --use-mirrors
install: pip install -r dev-requirements.txt

# command to run tests, e.g. python setup.py test
script: make test